main {
   background-image: url(https://files.wallpaperpass.com/2019/10/gamer%20wallpaper%20040%20-%201920x1080-768x432.jpg);
}

.cards-xl {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px; }


.banner {
    background-color: rgb(182, 26, 26);
    height: auto;
    width: auto;
}

h1 {
    font-size: 40pt;
    color: white;
    text-align: center;
    padding: 30px 0px;
}

.just-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.flex {
    display: flex;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: black;
    height: 150px;
    width: auto;
    color: rgb(241, 241, 241);  
}

.footer a {
    padding-bottom: 4px;
}

.gracias {
    padding-top: 8px;
}

.clima {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
    width: auto;
    padding-left: 20px;
    background-color: black;
    color: white;
    padding-top: 2px;
   
}

.info-clima {
    padding: 12px 30px 0px 30px;
}